<div class="flex flex-col md:flex-row gap-4 mb-8">
  <div class="flex flex-col w-full">
    <app-search-input
      [control]="cityName"
      [placeholder]="'weather.search.placeholder' | translate"
      [invalid]="errorCityName()"
      (clear)="cityName.setValue('')"
    ></app-search-input>
    @if (errorCityName()) {
    <app-helper-text-msg
      [message]="msgErrorCityName()"
      [type]="'error'"
    ></app-helper-text-msg>
    }
  </div>
  <div class="flex flex-col w-full md:w-56">
    <app-button
    [label]="'weather.add_city' | translate"
    [disabled]="!cityName.valid || loading()"
    [loading]="loading()"
    (onClick)="addCity()"
  ></app-button>
  </div>

</div>
